body{
  margin:0;
  text-align: center;
  font-family: 'Montserrat',Helvetica,Arial,sans-serif;
  color: #000;
}

h1{
  font-size: 4.625rem;
  font-family: Helvetica,Arial,cursive;
  margin: 50px auto 0 auto;
  color: #82B1FF;
  line-height: 2;
}

h2{
  font-family: 'Montserrat',sans-serif;
  font-size:2rem;
  color: #82B1FF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #7FADFF;
  font-family: 'Montserrat',sans-serif;
}

p{
  font-family: 'Roboto Mono',sans-serif;
  color: #333333;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width:10%;
  margin: 100px auto;
}

.top-container{
  background-color: #ffffcc;
  position: relative;
  padding-top: 100px;
}

.surprised-girl{
  height:230px;
  width: 150px;
  margin: auto;
}

.intro{
  width: 50%;
  margin: auto;
}

.middle-container{
  margin: 100px;
}

.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill01{
  width: 25%;
  float:left;
  margin-right: 30px;
}


.skill02{
  width: 23%;
  float:right;
  margin-left: 30px;
}



.day{
  text-decoration: underline;
}

.a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin:10px 20px;
  text-decoration: none;
}

.a:hover{
  color: #EAF6F6;
}

.top-cloud{
  position: absolute;
  top:50px;
  right:300px;
  height: 5%;
  width: 5%;
}

.bottom-cloud{
  position:absolute;
  left:300px;
  bottom:300px;
  height: 5%;
  width: 5%;
}

.error404-img{
  height: 600px;
  width: 750px;
  position: relative;
}

.footer-link{
  color: #7FADFF;
  font-family: Helvetica,Arial,cursive;
  font-size: 1rem;
  margin:10px 20px;
  text-decoration: none;
}

.footer-link:hover{
  color: EAF6F6;
}

.contact-message{
  width:40%;
  margin:auto;
  padding-bottom: 100px;
}

.btn {
  background: #ffffcc;
  background-image: -webkit-linear-gradient(top, #82B1FF, #7FADFF);
  background-image: -moz-linear-gradient(top, #82B1FF, #7FADFF);
  background-image: -ms-linear-gradient(top, #82B1FF, #7FADFF);
  background-image: -o-linear-gradient(top, #82B1FF, #7FADFF);
  background-image: linear-gradient(to bottom, #82B1FF, #7FADFF);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Helvetica,Arial,cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #6666ff;
  background-image: -webkit-linear-gradient(top, #6666ff, #ffffcc);
  background-image: -moz-linear-gradient(top, #6666ff, #ffffcc);
  background-image: -ms-linear-gradient(top, #6666ff, #ffffcc);
  background-image: -o-linear-gradient(top, #6666ff, #ffffcc);
  background-image: linear-gradient(to bottom, #6666ff, #ffffcc);
  text-decoration: none;
}

.name-surname{
  color: #000;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.bottom-container{
  background-color: #ffffcc;
  padding: 50px 0px 20px;
}
